.app {
    background-color: white;
    border-bottom: 5px solid #cad5e6;
    box-shadow: 0 4px 14px 4px #375c821c;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    height: 575px;
    padding: 30px 60px;
    width: 400px;
}

.top {
    align-items: center;
    border-bottom: 2px solid #7998c7;
    display: flex;
    height: 50%;
    justify-content: center;
    width: 100%;
}

.bottom {
    align-items: center;
    border-top: 2px solid #7998c7;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    width: 100%;
}

.header-image {
    background: url('https://silind-s3.s3.eu-west-2.amazonaws.com/direflow/logo.svg');
    background-size: contain;
    height: 165px;
    width: 165px;
}

.header-title {
    color: #5781C2;
    font-family: 'Advent Pro', sans-serif;
    font-size: 34px;
}

.sample-text {
    color: #666;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    text-align: center;
}

.button {
    background-color: #5781C2;
    border: 0;
    box-shadow: 2px 2px 5px #16314d98;
    color: white;
    cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
    outline: none;
    transition: 0.3s;
    width: 150px;
}

.button:hover {
    background-color: #40558f;
    box-shadow: 4px 4px 8px #16314d63;
}
